<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Biblio</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>nomDuWebMaster</param-name>
    <param-value>contact@rikyuu.fr</param-value>
  </context-param>
  <context-param>
       <param-name>jdbcURL</param-name>
       <param-value>jdbc:mysql://localhost/biblio?serverTimezone=UTC</param-value>
   </context-param>
   <context-param>
       <param-name>jdbcUsername</param-name>
       <param-value>root</param-value>
   </context-param>
   <context-param>
       <param-name>jdbcPassword</param-name>
       <param-value></param-value>
   </context-param>
  <servlet>
    <description></description>
    <display-name>MyFirstServlet</display-name>
    <servlet-name>MyFirstServlet</servlet-name>
    <servlet-class>MyFirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyFirstServlet</servlet-name>
    <url-pattern>/MyFirstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FirstServlet</display-name>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServBonjour</display-name>
    <servlet-name>ServBonjour</servlet-name>
    <servlet-class>ServBonjour</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServBonjour</servlet-name>
    <url-pattern>/ServBonjour</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormServlet</display-name>
    <servlet-name>FormServlet</servlet-name>
    <servlet-class>FormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormServlet</servlet-name>
    <url-pattern>/FormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormLivre</display-name>
    <servlet-name>FormLivre</servlet-name>
    <servlet-class>FormLivre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormLivre</servlet-name>
    <url-pattern>/FormLivre</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CtlLivre</display-name>
    <servlet-name>CtlLivre</servlet-name>
    <servlet-class>CtlLivre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CtlLivre</servlet-name>
    <url-pattern>/CtlLivre</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServerInfo</display-name>
    <servlet-name>ServerInfo</servlet-name>
    <servlet-class>ServerInfo</servlet-class>
    <init-param>
      <param-name>Auteur</param-name>
      <param-value>Julien Delissenne</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServerInfo</servlet-name>
    <url-pattern>/ServerInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormLogin</display-name>
    <servlet-name>FormLogin</servlet-name>
    <servlet-class>FormLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormLogin</servlet-name>
    <url-pattern>/FormLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerServlet</display-name>
    <servlet-name>ControllerServlet</servlet-name>
    <servlet-class>ControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerServlet</servlet-name>
    <url-pattern>/ControllerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet1</display-name>
    <servlet-name>Servlet1</servlet-name>
    <servlet-class>chainage.Servlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet1</servlet-name>
    <url-pattern>/Servlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet2A</display-name>
    <servlet-name>Servlet2A</servlet-name>
    <servlet-class>chainage.Servlet2A</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet2A</servlet-name>
    <url-pattern>/Servlet2A</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet2B</display-name>
    <servlet-name>Servlet2B</servlet-name>
    <servlet-class>chainage.Servlet2B</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet2B</servlet-name>
    <url-pattern>/Servlet2B</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestCookie</display-name>
    <servlet-name>TestCookie</servlet-name>
    <servlet-class>TestCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestCookie</servlet-name>
    <url-pattern>/TestCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CtlLogin</display-name>
    <servlet-name>CtlLogin</servlet-name>
    <servlet-class>CtlLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CtlLogin</servlet-name>
    <url-pattern>/CtlLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Client</display-name>
    <servlet-name>Client</servlet-name>
    <servlet-class>mesBeans.Client</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Client</servlet-name>
    <url-pattern>/Client</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Livre</display-name>
    <servlet-name>Livre</servlet-name>
    <servlet-class>mesBeans.Livre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Livre</servlet-name>
    <url-pattern>/Livre</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Personne</display-name>
    <servlet-name>Personne</servlet-name>
    <servlet-class>mesBeans.Personne</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Personne</servlet-name>
    <url-pattern>/Personne</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CtlPersonne</display-name>
    <servlet-name>CtlPersonne</servlet-name>
    <servlet-class>CtlPersonne</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CtlPersonne</servlet-name>
    <url-pattern>/CtlPersonne</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controleur2</display-name>
    <servlet-name>Controleur2</servlet-name>
    <servlet-class>Controleur2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controleur2</servlet-name>
    <url-pattern>/Controleur2</url-pattern>
  </servlet-mapping>
</web-app>